<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <link rel="manifest" href='/api/static/rw-manifest.json' />
    <title>Random Word</title>
</head>
<body>
    <div id="app">
        <div class="w3-container w3-paper">
            <div class="logo-container" style="display: flex; justify-content: center; align-items: center; padding: 10px;">
                <img src="/api/static/rw-icon.png" class="w3-round w3-border w3-padding" width="130px" alt="Logo">
            </div>
            <div class="w3-card w3-padding">
                <h1>Random Word</h1>
                <p>
                    {{ message }}
                </p>

                <a
                    v-if="!notificationPermission"
                    @click="registerNotifications"
                    class="w3-button w3-large w3-xlarge w3-ripple w3-grey"
                >
                    Register Notifications
                </a>
                <a
                    v-if="notificationPermission"
                    class="w3-button w3-large w3-circle w3-xlarge w3-ripple w3-grey"
                    @click="showNotification"
                    :disabled="isFetchingWord"
                >+</a>
            </div>
            <div class="w3-card w3-padding">
                <pre><code>{{ JSON.stringify(appData, null, 2) }}</code></pre>
            </div>
        </div>
    </div>
    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

        createApp({
            setup() {
                const message = ref('Hello Vue!');
                const notificationPermission = ref(false);
                const isFetchingWord = ref(false);
                const appData = ref(JSON.parse(localStorage.getItem('app_data')) || {});

                Notification.requestPermission().then(permission => {
                    if (permission === 'granted') {
                        notificationPermission.value = true;
                    }
                });

                return { message, notificationPermission, isFetchingWord, appData };
            },
            methods: {
                registerNotifications() {
                    Notification.requestPermission().then(permission => {
                        if (permission === 'granted') {
                            this.notificationPermission = true;
                        }
                    });
                },
                async showNotification() {
                    try {
                        this.isFetchingWord = true;

                        if (this.notificationPermission) {
                            navigator.serviceWorker.ready.then(async registration => {
                                const randomWord = await (await fetch("/api/randomword")).json();
                                // const randomWord = JSON.parse(`{"fr": {"word": "épistolaire","definition": "relatif à l'art ou à la pratique de la correspondance écrite","example": "Son style épistolaire a captivé de nombreux lecteurs."},"en": {"word": "epistolary","definition": "relating to the art or practice of correspondence through letters","example": "Her epistolary style captivated many readers."}}`);
                                const { fr: randomWordLocalized } = randomWord;
    
                                const title = 'Word Update : ' + randomWordLocalized.word;
                                const options = {
                                    body: `${randomWordLocalized.definition} \n\n ${randomWordLocalized.example}`,
                                    tag: 'daily-update-notification',
                                    renotify: true, // Optional: ensures new notification is shown if tag is reused
                                    requireInteraction: false, // Optional: notification disappears after a short time on desktop
                                    data: {
                                        timestamp: Date.now(),
                                        notificationType: 'daily_update'
                                    }
                                };
    
                                registration.showNotification(title, options)
                                    .then(() => {
                                        console.log('Daily notification displayed successfully!');
                                    })
                                    .catch((error) => {
                                        console.error('Failed to show daily notification:', error);
                                    });
                            });
                        }
                    }
                    finally {
                        this.isFetchingWord = false;
                    }
                }
            }
        }).mount('#app');
    </script>
    <script>
    async function checkPeriodicSyncPermission() {
        const status = await navigator.permissions.query({ name: 'periodic-background-sync' });
        await navigator.serviceWorker.ready;
        if (status.state === 'granted') {
            // Periodic background sync can be used.
            console.log('Periodic Background Sync permission granted.');
            return true;
        } else {
            // Permission not granted or not supported.
            console.log('Periodic Background Sync permission not granted or not supported.');
            // Inform the user or provide alternative functionality.
            return false;
        }
    }

    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register("/api/static/rw-service-worker.js", { scope: '/api/static/' })
        .then(async (registration) => {
            console.log('Service Worker registered with scope:', registration.scope);

            // Check for periodic background sync permission
            const permissionGranted = await checkPeriodicSyncPermission();

            if (permissionGranted && 'periodicSync' in registration) {
                try {
                    // Register a periodic sync task for daily updates
                    await registration.periodicSync.register('daily-notification-sync', {
                        minInterval: 12 * 60 * 60 * 1000, // Minimum interval of one day in milliseconds
                    });
                    console.log('Periodic background sync for daily notifications registered.');
                } catch (err) {
                    console.error('Periodic Sync could not be registered:', err.name, err.message);
                }
            }
            else {
                console.warn('Periodic Background Sync not supported or permission not granted.');
            }
        })
        .catch((error) => {
            console.error('Service Worker registration failed:', error);
        });
    }
    </script>
</body>
</html>